upstream footprints { server 127.0.0.1:3000; }

server {
  server_name {{ footprints_host }};
  rewrite ^(.*) http://www.{{ footprints_host }}$1 permanent;
}

server {
  listen *:80;
  server_name www.{{ footprints_host }};
  root /var/www/html/footprints-public/public;

  proxy_set_header X-Real-IP  $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header Host $http_host;
  proxy_hide_header X-Runtime;
  proxy_redirect off;

  try_files $uri @rails;
  location @rails { proxy_pass http://footprints; }
  location @rails_expiry { expires 1y; proxy_pass http://footprints; }

  location ~ ^/(images|javascripts|stylesheets)/  { try_files $uri @rails_expiry; }
}